.datagrid {
  margin: 0 29px;

  background: linear-gradient(
    180deg,
    #eff2ff -30.56%,
    rgba(232, 236, 255, 0) 135.85%
  );
  border-radius: 6px;
  padding: 44px 82px 86px;
}

.container {
    display: flex;
    justify-content: space-between;
     margin-bottom: 11px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td {
  padding: 30px;
  font-weight: 500;
  color: black;
}

.dx-column-indicators {
  color: #744bfc;
  position: relative;
}
.dx-datagrid .dx-sort-down::before,
.dx-datagrid .dx-sort-up::before {
  position: absolute;
  font-size: 25px;
  top: 0;
}
